@import "reset";

.wrap {
  height: 100vh;
  background-color: #E4E2E5;
}

.content {
  width: 258px;
  height: 258px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 65px;
    height: 20px;
    background-image: url("../img/img_signature.png");
    background-size: 65px 20px;

  }
}

.img {
  &-wrapper {
    width: 250px;
    height: 250px;
    border: 4px solid #01010B;
    overflow: hidden;
    border-radius: 2px;
  }

  &-toggle {
    background-image: url("../img/img_a18.png");
    width: 250px;
    height: 250px;
    background-size: 250px 500px;
    cursor: pointer;
    transform: translateX(-100%);
    border: 1px solid #E4E2E5;

    &:hover {
      background-position: 0 -250px;
    }

    &--start {
      animation: enter .6s linear forwards;
    }

    &--end {
      animation: exit .6s linear forwards;
    }
  }
}

@keyframes enter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes exit {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}