canvas {
    display: block;
    position: absolute;
}

body {
    background-color: #39418f;
    overflow: hidden;
    position: relative;
}

.slider {
    display: block;
    width: 300px;
    position: absolute;
    margin: 20px;
    top: 0;

    &-label {
        position: absolute;
        left: 330px;
        margin: 20px;
        top: 0;
    }
}

#round-rect {
    position:relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    border: 5px #000000 solid;
}

video:first-of-type {
    width: 13%;
    padding-top: 13%;
    position: fixed;
    bottom: 0;
    left: 25%;
}

video:last-of-type {
    width: 13%;
    padding-top: 13%;
    position: fixed;
    bottom: 0;
    right: 25%;
    transform: rotateY(180deg);
}